// body {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }

div {
  margin: 10px 0px;
}

.form {
  flex-direction: column;
}

#arena {
  // :focus {
  background-color: #07070721;
  // }
}
#game {
  background-image: url(https://cdn0.iconfinder.com/data/icons/click-linear-outline/300/15197605Untitled-3-512.png);
  background-repeat: no-repeat;
  background-position: center;
}
#game:focus {
  outline: none;
  background-color: transparent;
  background-image: none;
  #arena {
    background-color: transparent;
  }
}
#arena:focus {
  background-color: transparent;
}
