// body {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }

div {
  margin: 10px 0px;
}

.form {
  flex-direction: column;
}

#arena {
  // :focus {
  background-color: #07070721;
  // }
}
#game:focus {
  outline: none;
  background-color: transparent;
  #arena {
    background-color: transparent;
  }
}
#arena:focus {
  background-color: transparent;
}
