body {
  overflow: hidden;
}

div {
  margin: 10px 0px;
}

.form {
  flex-direction: column;
}

#arena {
  // :focus {
  background-color: #07070721;
  // }
}
#game {
  background-repeat: no-repeat;
  background-position: center;
}
#game:focus {
  outline: none;
  background-color: transparent;
  background-image: none;
  .alert {
    display: none;
  }
  #arena {
    background-color: transparent;
  }
}
#arena:focus {
  background-color: transparent;
}
